<div class="wrapper">
  <input class="input cursor" size="1" maxlength="1" type="text" tabindex="1"
    [(ngModel)]="input"
    autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
    (focus)="onInputFocus($event)" (blur)="onInputBlur()"
    (input)="onInput($event)" (keydown)="onKeyDown($event)"
    (dblclick)="toggleOrientation()"
    [matTooltip]="tooltipData.def" #tooltip="matTooltip" [matTooltipShowDelay]="250" [matTooltipDisabled]="tooltipData.def===''"
    [style.visibility]="state.visible ? 'visible' : 'hidden'"
    >
  <div class="schema noselect">
    <div class="table-row" *ngFor="let row of model.cells; index as i; last as lastRow">
      <div class="table-cell" *ngFor="let cell of row; index as j; last as lastColumn"
        (mousedown)="prepareDrag(i, j, lastRow && lastColumn, $event)"
        [style.minWidth]="cellSize+'px'" [style.minHeight]="cellSize+'px'"
        [style.width]="cellSize+'px'" [style.height]="cellSize+'px'">
        <div *ngIf="cell==='.'"
          class="block" [ngClass]="{'locked': isLocked(i,j) && (model.type!='fixed' || config.authorMode)}"
          [style.width]="(cellSize-1)+'px'" [style.height]="(cellSize-1)+'px'">
          &nbsp;
        </div>
        <div id="cell-{{i}}-{{j}}" class="cell"
          [style.font-size]="(3+cellSize/2)+'px'"
          [style.border-color]="selection.unused ? 'red' : ''"
          [ngClass]="{
              'word-sh': state.horizontal && selection.startsWith(j,i),
              'word-h': state.horizontal && selection.contains(j,i),
              'word-eh': state.horizontal && selection.endsWith(j,i),
              'word-sv': !state.horizontal && selection.startsWith(j,i),
              'word-v': !state.horizontal && selection.contains(j,i),
              'word-ev': !state.horizontal && selection.endsWith(j,i),
              'focused': state.focused,
              'locked': isLocked(i,j)
              }">{{cell!=='.'?cell:' '}}</div>
      </div>
    </div>
  </div>
  <!--defs [state]="state" [selection]="selection"></defs>
  <span tabindex="3" onFocus="document.querySelector('.input').focus()"></span-->
</div>
