@import '~@angular/material/theming'
@import '../theme.sass'

// Variables
$cell-border: 1px solid black
$cell-size: 28px
$cell-radius: 5px


.wrapper
  margin: 0px
  padding: 0px

table
  border-spacing: 0
  border-collapse: collapse
  padding: 0px
  margin: 0px

table td
  margin: 0px
  padding: 0px
  border: $cell-border


.noselect
  -webkit-touch-callout: none /* iOS Safari */
  -webkit-user-select: none /* Safari */
  -khtml-user-select: none /* Konqueror HTML */
  -moz-user-select: none /* Old versions of Firefox */
  -ms-user-select: none /* Internet Explorer/Edge */
  user-select: none /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */


.schema
  border-right: $cell-border
  border-bottom: $cell-border

.input
  border: none
  font-size: 1px

.cell
  box-sizing: border-box
  width: 100%
  height: 100%
  background-color: transparent
  justify-content: center
  align-items: center
  text-align: center
  display: flex
  font-weight: bold
  font-size: $cell-size/2+2
  border-color: gray
  border-style: solid
  border-width: 0px
  position: relative
  z-index: 2

.cell.focused
  border-color: map-get($primary, 400)

.block
  box-sizing: border-box
  border: 2px solid white
  background-color: black
  position: absolute
  border-radius: 4px
  z-index: 1

.cursor
  opacity: 0.7
  background-color: map-get($primary, 100)
  position: absolute
  z-index: 3

.word-h
  border-top-width: 2px
  border-bottom-width: 2px

.word-sh
  border-top-left-radius: $cell-radius
  border-bottom-left-radius: $cell-radius
  border-left-width: 2px

.word-eh
  border-top-right-radius: $cell-radius
  border-bottom-right-radius: $cell-radius
  border-right-width: 2px

.word-v
  border-left-width: 2px
  border-right-width: 2px

.word-sv
  border-top-left-radius: $cell-radius
  border-top-right-radius: $cell-radius
  border-top-width: 2px

.word-ev
  border-bottom-left-radius: $cell-radius
  border-bottom-right-radius: $cell-radius
  border-bottom-width: 2px

.block.locked
  background-color: map-get($accent, 800) !important

.cell.locked
  color: map-get($accent, 800) !important
  font-weight: 900 !important
  font-size: $cell-size/2 + 2
