// Variables
@cell-border: 1px solid black;
@cell-size: 32px;

table {
  border-spacing: 0;
  border-collapse: collapse;
  padding: 0px;
  margin: 0px;
}

table td {
  margin: 0px;
  padding: 0px;
}

.schema {
  border-right: @cell-border;
  border-bottom: @cell-border;
}

.cell {
  width: @cell-size;
  height: @cell-size;
  border-left: @cell-border;
  border-top: @cell-border;
  background-color: white;
  z-index: 10;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-weight: bold;
  font-size: @cell-size/2+2;
}

.block {
  margin: 2px;
  width: -2+@cell-size;
  height: -2+@cell-size;
  background-color: black;
}

.cursor {
  opacity: 0.5;
  z-index: 5;
  border-left: @cell-border;
  border-top: @cell-border;
  width: @cell-size;
  height: @cell-size;
  background-color: yellow;
  position: absolute;
}

.word-h {
  width: @cell-size;
  height: -2+@cell-size;
  border-top: 2px solid purple;
  border-bottom: 2px solid purple;
}

.word-sh {
  width: -1+@cell-size;
  border-left: 2px solid purple;
}

.word-eh {
  width: -1+@cell-size;
  border-right: 2px solid purple;
}

.word-v {
  width: -2+@cell-size;
  height: @cell-size;
  border-left: 2px solid purple;
  border-right: 2px solid purple;
}

.word-sv {
  height: -1+@cell-size;
  border-top: 2px solid purple;
}

.word-ev {
  height: -1+@cell-size;
  border-bottom: 2px solid purple;
}
