.sidenav-container
  height: 100%


.sidenav
  width: 200px

.sidenav .mat-toolbar
  background: inherit


.mat-toolbar.mat-primary
  position: sticky
  top: 0
  z-index: 1

.selected-route
  font-weight: bold

.user
  font-weight: normal
  font-size: 12px


.toolbar-spacer
  flex: 1 1 auto

.button-enabled, .button-enabled:active
  color: white

.button-enabled:hover
  color: lightgray


.button-disabled
  color: gray
