<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>{{title}}</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="drawer.mode==='over' && drawer.close()"
        routerLink="/schema" routerLinkActive="selected-route">
        <mat-icon aria-hidden="false" aria-label="Example home icon">grid_on</mat-icon>&nbsp;Schema
      </a>
      <a *ngIf="auth.getUserConfig().authorMode || !schema.isType(obliged)"
        mat-list-item (click)="drawer.mode==='over' && drawer.close()"
        routerLink="/definitions" routerLinkActive="selected-route">
        <mat-icon aria-hidden="false" aria-label="Example home icon">list</mat-icon>&nbsp;Definizioni
      </a>
      <a mat-list-item (click)="drawer.mode==='over' && drawer.close()"
        routerLink="/settings" routerLinkActive="selected-route">
        <mat-icon aria-hidden="false" aria-label="Example home icon">settings</mat-icon>&nbsp;Impostazioni
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{schema.model.title}}</span>
      <span class="toolbar-spacer"></span>
      <a class="button button-enabled" title="Salva" [ngClass]="{'button-active': schema.isModified()}" *ngIf="auth.getUserConfig().authorMode" (click)="schema.save()"><mat-icon aria-hidden="false" aria-label="home icon">save</mat-icon></a>
      <a class="button button-enabled" title="Controlla la soluzione" *ngIf="!auth.getUserConfig().authorMode" (click)="check()"><mat-icon aria-hidden="false" aria-label="home icon">check</mat-icon></a>
      <a class="button button-enabled" [title]="auth.isLogged() ? 'Logout' : 'Login'" routerLink="/login" >
        <mat-icon aria-hidden="false" aria-label="home icon">person</mat-icon>
        <span class="user" *ngIf="auth.isLogged()">{{auth.getUser().username}}</span>
      </a>
      <a class="button button-enabled" title="Legenda" (click)="help()"><mat-icon aria-hidden="false" aria-label="home icon">help</mat-icon></a>
    </mat-toolbar>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
