@import '~@angular/material/theming'
@import '../theme.sass'

.definition-block
  vertical-align: top
  padding: 10px

h3
  margin: 0px
  padding-top: 10px
  padding-left: 10px

ol
  margin: 0px

.over.hidden
  position: absolute
  display: none

.definition, .definition:active, .definition:link
  text-decoration: none
  color: black

.definition:hover
  text-decoration: underline
  cursor: pointer

.definition.unused
  color: map-get($warn, 200)

div.over .definition.unused
  //color: gray
  text-decoration: line-through
