@import '~@angular/material/theming'
@import '../theme.sass'

.definition-block
  display: inline-block
  width: 50%
  vertical-align: top

.definition, .definition:active, .definition:link
  text-decoration: none
  color: black

.definition:hover
  text-decoration: underline

.definition.unused
  color: map-get($warn, 400)
