<form class="settings-form">

  <mat-form-field>
    <mat-label>
      <span>
        Solution Type
      </span>
    </mat-label>
    <mat-select name="solution-type" [(ngModel)]="config.solutionType" aria-label="Select an option">
      <mat-option value="fixed">Schema Fisso</mat-option>
      <mat-option value="free">Schema Libero</mat-option>
      <mat-option value="obliged">Incroci Obbligati</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>
      <span>
        Cell size
      </span>
    </mat-label>
    <input id="cellsize" name="cellsize" matInput type="number" min="20" max="50"
      [(ngModel)]="config.cellSize" #cellsize="ngModel">
    <div *ngIf="cellsize.errors && (cellsize.dirty || cellsize.touched)">
      <div [hidden]="!cellsize.errors">
          Number should be between 0 and 100
      </div>
    </div>
  </mat-form-field>

</form>
