<mat-card>
  <mat-card-title>User</mat-card-title>
  <mat-card-content>
    <form name="userForm" class="settings-form" #userForm="ngForm">

      <mat-form-field>
        <mat-label>
          <span>
            Cell size
          </span>
        </mat-label>
        <input id="cellsize" name="cellsize" matInput type="number" min="20" max="50"
          [(ngModel)]="auth.getUserConfig().cellSize" #cellsize="ngModel">
        <div *ngIf="cellsize.errors && (cellsize.dirty || cellsize.touched)">
          <div [hidden]="!cellsize.errors">
              Number should be between 20 and 50
          </div>
        </div>
      </mat-form-field>

      <p><label id="author-radio-label">Editing mode:</label></p>
      <mat-radio-group
        name="author"
        aria-labelledby="author-radio-label"
        [(ngModel)]="auth.getUserConfig().authorMode"
        [disabled]="!auth.isLogged()">
        <mat-radio-button *ngFor="let label of ['Solver', 'Author'] last as last" [value]="last">{{label}}</mat-radio-button>
      </mat-radio-group>

    </form>
  </mat-card-content>
</mat-card>
